# Qualtrics integration and pipeline
Demonstration of how we will generate archetypes from the *Qualtrics* responses both for the current car as well as for each vintage (i.e. archetype defined by `vehicle_type` and `fuel_type`)

## Qualtrics

In [3]:
import os

from QualtricsAPI.Setup import Credentials

from QualtricsAPI import Responses

In [4]:
# TOKEN = <source as envvar>
# DATA_CENTER = <source as envvar>

In [5]:
Credentials().qualtrics_api_credentials(token=TOKEN, data_center=DATA_CENTER)

NameError: name 'TOKEN' is not defined

In [ ]:
r = Responses()
survey_id = 'SV_6u4YzY24OAfhWfQ'
df_pre_study = r.get_survey_responses('SV_6u4YzY24OAfhWfQ')

In [ ]:
df_pre_study.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,pers_characs_worries,pers_characs_forgiving,pers_characs_lazy,pers_characs_open,pers_characs_nervous,pers_characs_efficient,pers_characs_reserved,pers_characs_considerate,pers_characs_imaginative,pers_characs_relaxed
0,Anfangsdatum,Enddatum,Antworttyp,IP-Adresse,Aktueller Stand,Dauer (in Sekunden),Beendet,Erfassungsdatum,Antwort-ID,Nachname des Empfängers,...,"Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg...","Bitte geben Sie jeweils an, wie stark die folg..."
1,"{""ImportId"":""startDate"",""timeZone"":""Z""}","{""ImportId"":""endDate"",""timeZone"":""Z""}","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""Z""}","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID168_7""}","{""ImportId"":""QID168_8""}","{""ImportId"":""QID168_9""}","{""ImportId"":""QID168_10""}","{""ImportId"":""QID168_12""}","{""ImportId"":""QID168_13""}","{""ImportId"":""QID168_14""}","{""ImportId"":""QID168_15""}","{""ImportId"":""QID168_16""}","{""ImportId"":""QID168_17""}"
2,2022-05-11 06:42:17,2022-05-11 06:59:46,0,194.165.44.169,100,1048,1,2022-05-11 06:59:48,R_3qe7fVb9Ma5yEyO,Bos,...,4,4,2,3,4,4,4,4,4,3
3,2022-05-11 06:05:01,2022-05-11 07:08:18,0,165.225.95.4,100,3797,1,2022-05-11 07:08:20,R_ZepQebZSlABxEsh,Bauer,...,2,3,2,4,2,4,3,4,4,2
4,2022-05-11 06:44:12,2022-05-11 07:16:31,0,31.10.155.126,100,1938,1,2022-05-11 07:16:32,R_2RacLJHZCDJ7J61,Bissig,...,3,2,1,4,3,4,2,4,4,3

## Workflow

In [7]:
import tcsscraper.scrape as tcs

from tcsscraper.helper import Car

In [8]:
Car.vehicle_classes

['Mikroklasse',
 'Kleinwagen',
 'Untere Mittelklasse',
 'Mittelklasse',
 'Obere Mittelklasse',
 'Luxusklasse',
 'Coupé / Sportwagen',
 'Cabriolet / Roadster',
 'SUV S',
 'SUV M',
 'SUV L',
 'SUV XL',
 'Minivan S',
 'Minivan M',
 'Minivan L']

In [9]:
Car.fuel_types

['Benzin',
 'Diesel',
 'Hybrid Benzin',
 'Hybrid Diesel',
 'Erdgas (CNG)',
 'Elektro',
 'Elektro mit Range Extender',
 'Plug-in Hybrid Benzin',
 'Plug-in Hybrid Diesel',
 'Wasserstoff / Elektro']

In [10]:
# car = Car('Luxusklasse', 'Elektro', 5)

In [11]:
car = Car('Luxusklasse', 'Benzin', 10)

In [ ]:
similar_cars = tcs.get_similar_cars(vehicle_class=car.vehicle_class, fuel_type=car.fuel_type, fuel_consumption=car.fuel_consumption, km=20e3, canton='ZH', buffer=5, verbose=True)

Extracted BMW 7 Limousine 740Li xDrive
Extracted BMW 8 Coupé 840i xDrive
Extracted BMW 8 Gran Coupé 840i xDrive
Extracted BMW 8 Cabriolet 840i xDrive
Extracted BMW 7 Limousine 750i xDrive
Extracted BMW 7 Limousine 750Li xDrive
Extracted BMW 8 Coupé M850i xDrive
Extracted BMW 8 Cabriolet M850i xDrive
Extracted BMW 8 Gran Coupé M850i xDrive
Extracted BMW 8 Coupé M8
Extracted BMW 8 Cabriolet M8
Extracted BMW 8 Gran Coupé M8 600 PS
Extracted BMW 8 Gran Coupé M8
Extracted Maserati Quattroporte S Q4 Essence
Extracted BMW Alpina 8 Gran Coupé B8
Extracted Maserati Quattroporte V8 Trofeo
Extracted Mercedes-Benz S Maybach 680 4Matic

In [12]:
len(similar_cars)

NameError: name 'similar_cars' is not defined

In [13]:
def remove_unit(string):
    """Removes unit from string like 17'000 CHF/year -> float(17e3)

    Args:
        string (str): string with unit
    """
    number, unit = string.split(' ')
    number = number.replace("'", '')
    return float(number)

In [14]:
import pandas as pd

def generate_archetype(similar_cars):
    """Generates an archetypical car from a list of similar cars

    Args:
        similar_cars (list of dict): returned by get_similar_cars()
    """
    car_attributes = []
    for c in similar_cars:
        costs = c['costs']
        attrs = {
            'fix_cost': remove_unit(costs['Fixe Kosten']),
            'variable_cost': remove_unit(costs['Variable Kosten']),
            'cost_per_km': remove_unit(costs['Kilometerkosten'])
        }
        car_attributes.append(attrs)

    car_attributes = pd.DataFrame(car_attributes)

    archetype = dict(car_attributes.mean())

    return archetype

In [ ]:
archetype = generate_archetype(similar_cars)
archetype

{'fix_cost': 19366.0,
 'variable_cost': 14400.882352941177,
 'cost_per_km': 1.7441176470588236}

## Pipeline

In [29]:
## generate data.frame with variables to feed to get_similar_cars
df_from_qualtrics = pd.DataFrame({
    'vehicle_type': ['Mikroklasse', 'Luxusklasse', 'SUV S'],
    'fuel_type': ['Benzin', 'Diesel', 'Hybrid'],
    'fuel_consumption': [3, 2, 10],
    'km': [15e3, 20e3, 22e3],
    'canton': ['VD', 'AI', 'ZG']
})

df_from_qualtrics.head()

  vehicle_type fuel_type  fuel_consumption       km canton
0  Mikroklasse    Benzin                 3  15000.0     VD
1  Luxusklasse    Diesel                 2  20000.0     AI
2        SUV S    Hybrid                10  22000.0     ZG

In [30]:
def helper(row, max=3, verbose=True):
    init = 1
    while(init < max+1):
        try:
            sc = tcs.get_similar_cars(row['vehicle_type'], row['fuel_type'], row['fuel_consumption'], row['km'], row['canton'], buffer=init, verbose=verbose)
        except:
            init += 1
            continue
        return sc
    return None

In [31]:

df_from_qualtrics['similar_cars'] = df_from_qualtrics.apply(lambda row: helper(row), axis=1)

No similar cars found. A missmatch between model and consumption? Consider increasing buffer.

## TODO
- `fuel_consumption` with `fuel_type='electric'` does not work